<div class="member">
  <h3><img src=""></h3>
  <h3>David Vindas Solis</h3>
  <h3>Número telefónico: +506 7011 7076 </h3>
  <h3>Rol: Coordinador</h3>
</div>
<div class="member">
  <h3><img src=""></h3>
  <h3>Jose Pablo Moya Montano</h3>
  <h3>Número telefónico: +506 8582 9827 </h3>
  <h3>Rol: Desarrollo</h3>
</div>
<div class="member">
  <h3><img src=""></h3>
  <h3>Elmer Moraga Molida</h3>
  <h3>Número telefónico: +506 6189 1054</h3>
  <h3>Rol: QA</h3>
</div>
<div class="member">
  <h3><img src=""></h3>
  <h3>Cherng Wann Zhang Chen</h3>
  <h3>Número telefónico: +506 6079 6578</h3>
  <h3>Rol: Soporte</h3>
</div>
