<div class="valores">
  <h3>Valores</h3>
  <p>
    1. Trabajo en equipo: luchamos por un equipo unido, con gran sentimiento de pertenencia hacia la empresa y apoyo uno con el otro.
  </p>
  <p>
    2. Compromiso: nos hacemos cargo de cumplir con los compromisos y responsabilidades adquiridas para brindar confianza a nuestros clientes.
  </p>
  <p>
    3. Participación corporativa: velamos porque nuestro personal asuma responsabilidades y participe en la toma de decisiones.
  </p>
  <p>
    4. Ética: cumplimos el reglamento interno de la empresa así como el establecido por las leyes que rigen en el país.
  </p>
  <p>
    5. Honestidad: implementamos una política de transparencia con nuestros equipo para lograr un compromiso de este con nuestra empresa otorgando la máxima información.
  </p>
</div>
